In [1]:
import os
from datetime import datetime
import time
import tqdm
import pandas as pd
import random
from sklearn.preprocessing import LabelEncoder
import numpy as np
import torch

import matplotlib.pyplot as plt

In [2]:
class CFG:
    path = "../input/data/train_dataset"
    train = "train_data.csv"
    test = "test_data.csv"

In [3]:
csv_file_path = os.path.join(CFG.path, CFG.train)
df = pd.read_csv(csv_file_path)
df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225

In [4]:
# # __preprocessingle
# cate_cols = ['assessmentItemID', 'testId', 'KnowledgeTag']

# le_list = []

# is_train=True

# for col in cate_cols:
#     le = LabelEncoder()
#     if is_train:
#         a = df[col].unique().tolist() + ['unknown']
#         # test에서 존재하지 않는 category 값 있어서 unknown으로 처리
#         le.fit(a)
#         le_list.append(le.classes_)
#         df[col]= df[col].astype(str)
#         test = le.transform(df[col])  # transform: cat to index
#         df[col] = test

# df.head()  # index encoding으로 범주형이 변경된 걸 확인할 수 있음

In [6]:
# def convert_time(s):
#     timestamp = time.mktime(datetime.strptime(s, '%Y-%m-%d %H:%M:%S').timetuple())
#     return int(timestamp)

# df['Timestamp'] = df['Timestamp'].apply(convert_time)
# df.head()

In [4]:
userid = df.userID.tolist()
userid_len = len(userid)
userid_len

2266586

In [5]:
new_id = 0
before = 0
count = 0
new_user = []

for u in userid:
    if (count == 20) or (u != before):
        new_id += 1
        count = 0
        
    new_user.append(new_id)
    count += 1
    
    before = u

In [6]:
len(new_user)

2266586

In [7]:
temp = set(new_user)
min(temp), max(temp)

(0, 116486)

In [8]:
from collections import Counter
new_counter = Counter(new_user)
counter_values = list(new_counter.values())
min(counter_values), max(counter_values)

(1, 20)

In [9]:
new_df = df.copy()

In [10]:
new_df['newID'] = new_user

In [11]:
new_df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,newID
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,0
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225,0
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225,0
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225,0
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225,0

In [12]:
new_df = new_df.drop('userID', axis=1)

In [13]:
new_df.head()

,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag,newID
0,A060001001,A060000001,1,2020-03-24 00:17:11,7224,0
1,A060001002,A060000001,1,2020-03-24 00:17:14,7225,0
2,A060001003,A060000001,1,2020-03-24 00:17:22,7225,0
3,A060001004,A060000001,1,2020-03-24 00:17:29,7225,0
4,A060001005,A060000001,1,2020-03-24 00:17:36,7225,0

In [14]:
new_df.to_csv('new_train.csv', index=False)