In [1]:
import os
from datetime import datetime
import time
import tqdm
import pandas as pd
import random
from sklearn.preprocessing import LabelEncoder
import numpy as np
import torch

In [14]:
class CFG:
    path = "../../input/data/train_dataset"
    train = "train_data.csv"
    test = "test_data.csv"

In [15]:
csv_file_path = os.path.join(CFG.path, CFG.train)
df = pd.read_csv(csv_file_path)
df.head()

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,A060001001,A060000001,1,2020-03-24 00:17:11,7224
1,0,A060001002,A060000001,1,2020-03-24 00:17:14,7225
2,0,A060001003,A060000001,1,2020-03-24 00:17:22,7225
3,0,A060001004,A060000001,1,2020-03-24 00:17:29,7225
4,0,A060001005,A060000001,1,2020-03-24 00:17:36,7225

# class Preprocess

In [16]:
# __preprocessingle
cate_cols = ['assessmentItemID', 'testId', 'KnowledgeTag']

le_list = []

is_train=True

for col in cate_cols:
    le = LabelEncoder()
    if is_train:
        a = df[col].unique().tolist() + ['unknown']
        # test에서 존재하지 않는 category 값 있어서 unknown으로 처리
        le.fit(a)
        le_list.append(le.classes_)
        df[col]= df[col].astype(str)
        test = le.transform(df[col])  # transform: cat to index
        df[col] = test

In [17]:
for l in le_list:
    print(l)
    break

['A010001001' 'A010001002' 'A010001003' ... 'A090074005' 'A090074006'
 'unknown']

In [18]:
df.head()  # index encoding으로 범주형이 변경된 걸 확인할 수 있음

,userID,assessmentItemID,testId,answerCode,Timestamp,KnowledgeTag
0,0,5354,975,1,2020-03-24 00:17:11,618
1,0,5355,975,1,2020-03-24 00:17:14,619
2,0,5356,975,1,2020-03-24 00:17:22,619
3,0,5357,975,1,2020-03-24 00:17:29,619
4,0,5358,975,1,2020-03-24 00:17:36,619

In [7]:
# 저장된 npy 불러오기
# 위에 df 값이 index로 변환된 거에 또 수행하면 안됨. df 복사해서 시도하면 똑같을듯

# le_list = []

# for col in cate_cols:
#     label_path = os.path.join("/opt/ml/my_code/asset", col + "_classes.npy")
#     le.classes = np.load(label_path)
#     le_list.append(le.classes)
#     df[col] = df[col].apply(lambda x: x if x in le.classes_ else 'unknown')
#     df[col]= df[col].astype(str)
#     test = le.transform(df[col])  # transform: cat to index
#     df[col] = test

In [8]:
# for l in le_list:
#     print(l)
#     break

In [9]:
# df.head()  # index encoding으로 범주형이 변경된 걸 확인할 수 있음

In [19]:
def convert_time(s):
    timestamp = time.mktime(datetime.strptime(s, '%Y-%m-%d %H:%M:%S').timetuple())
    return int(timestamp)

df['Timestamp'] = df['Timestamp'].apply(convert_time)
df.head()

   userID  assessmentItemID  testId  answerCode   Timestamp  KnowledgeTag
0       0              5354     975           1  1585009031           618
1       0              5355     975           1  1585009034           619
2       0              5356     975           1  1585009042           619
3       0              5357     975           1  1585009049           619
4       0              5358     975           1  1585009056           619

In [11]:
df = df.sort_values(by=['userID', 'Timestamp'], axis=0)
columns = ['userID', 'assessmentItemID', 'testId', 'answerCode', 'KnowledgeTag']
group = df[columns].groupby('userID').apply(
        lambda r: (
            r['testId'].values, 
            r['assessmentItemID'].values,
            r['KnowledgeTag'].values,
            r['answerCode'].values
        )
    )  # userID로 묶어서 다른 feature들을 묶어준 듯

In [30]:
df[:745]  # 0번 user의 row 수 -> 추후 seq_len이 된다

     userID  assessmentItemID  testId  answerCode   Timestamp  KnowledgeTag
0         0              5354     975           1  1585009031           618
1         0              5355     975           1  1585009034           619
2         0              5356     975           1  1585009042           619
3         0              5357     975           1  1585009049           619
4         0              5358     975           1  1585009056           619
..      ...               ...     ...         ...         ...           ...
740       0              8858    1453           1  1608694554           280
741       0              8859    1453           0  1608694640           281
742       0              8860    1453           1  1608694723           281
743       0              8861    1453           0  1608694814           281
744       0              8862    1453           0  1608694819           281

[745 rows x 6 columns]

In [35]:
group[0]

(array([ 975,  975,  975,  975,  975,  975,  977,  977,  977,  977,  977,
         977,  977,  979,  979,  979,  979,  979,  979,  979,  981,  981,
         981,  981,  981,  981,  981, 1326, 1326, 1326, 1326, 1326, 1326,
         983,  983,  983,  983,  983,  983,  983,  990,  990,  990,  990,
         990,  990,  990, 1328, 1328, 1328, 1328, 1328, 1328, 1328, 1328,
        1330, 1330, 1330, 1330, 1330, 1330, 1330, 1330,  992,  992,  992,
         992,  992,  992,  992,  994,  994,  994,  994,  994,  994,  994,
        1332, 1332, 1332, 1332, 1332, 1332, 1332, 1332, 1334, 1334, 1334,
        1334, 1334, 1334, 1334, 1334,  996,  996,  996,  996,  996,  996,
         996, 1336, 1336, 1336, 1336, 1336, 1336, 1336, 1336, 1338, 1338,
        1338, 1338, 1338, 1338, 1338, 1338, 1340, 1340, 1340, 1340, 1340,
        1340, 1340, 1340,  998,  998,  998,  998,  998,  998,  998, 1342,
        1342, 1342, 1342, 1342, 1342, 1342, 1342, 1344, 1344, 1344, 1344,
        1344, 1344, 1344, 1344, 1005, 1005, 1005, 1005, 1005, 1005, 1005,
        1007, 1007, 1007, 1007, 1007, 1007, 1007, 1009, 1009, 1009, 1009,
        1009, 1009, 1009, 1011, 1011, 1011, 1011, 1011, 1011, 1011, 1346,
        1346, 1346, 1346, 1346, 1346, 1013, 1013, 1013, 1013, 1013, 1013,
        1013, 1348, 1348, 1348, 1348, 1348, 1348, 1015, 1015, 1015, 1015,
        1015, 1015, 1015, 1359, 1359, 1359, 1359, 1359, 1359, 1359, 1359,
        1017, 1017, 1017, 1017, 1017, 1017, 1017, 1360, 1360, 1360, 1360,
        1360, 1360, 1360, 1360, 1361, 1361, 1361, 1361, 1361, 1361, 1361,
        1361, 1026, 1026, 1026, 1026, 1026, 1026, 1026, 1028, 1028, 1028,
        1028, 1028, 1028, 1028, 1362, 1362, 1362, 1362, 1362, 1362, 1362,
        1362, 1030, 1030, 1030, 1030, 1030, 1030, 1030, 1363, 1363, 1363,
        1363, 1363, 1363, 1363, 1363, 1032, 1032, 1032, 1032, 1032, 1032,
        1032, 1034, 1034, 1034, 1034, 1034, 1034, 1034, 1364, 1364, 1364,
        1364, 1364, 1364, 1036, 1036, 1036, 1036, 1036, 1036, 1036, 1365,
        1365, 1365, 1365, 1365, 1365, 1366, 1366, 1366, 1366, 1366, 1366,
        1366, 1366, 1044, 1044, 1044, 1044, 1044, 1044, 1044, 1046, 1046,
        1046, 1046, 1046, 1046, 1046, 1367, 1367, 1367, 1367, 1367, 1367,
        1367, 1367, 1048, 1048, 1048, 1048, 1048, 1048, 1048, 1368, 1368,
        1368, 1368, 1368, 1368, 1368, 1368, 1050, 1050, 1050, 1050, 1050,
        1050, 1050, 1052, 1052, 1052, 1052, 1052, 1052, 1052, 1370, 1370,
        1370, 1370, 1370, 1370, 1370, 1370, 1372, 1372, 1372, 1372, 1372,
        1372, 1372, 1372, 1059, 1059, 1059, 1059, 1059, 1059, 1059, 1061,
        1061, 1061, 1061, 1061, 1061, 1061, 1063, 1063, 1063, 1063, 1063,
        1063, 1063, 1065, 1065, 1065, 1065, 1065, 1065, 1065, 1067, 1067,
        1067, 1067, 1068, 1068, 1068, 1068, 1068, 1068, 1068, 1068, 1068,
        1069, 1069, 1069, 1069, 1069, 1070, 1070, 1070, 1070, 1070, 1070,
        1070, 1070, 1070, 1386, 1386, 1386, 1386, 1386, 1386, 1394, 1394,
        1394, 1394, 1394, 1394, 1394, 1394, 1396, 1396, 1396, 1396, 1396,
        1396, 1396, 1396, 1400, 1400, 1400, 1400, 1400, 1400, 1400, 1400,
        1402, 1402, 1402, 1402, 1402, 1402, 1402, 1402, 1071, 1071, 1071,
        1071, 1071, 1071, 1071, 1404, 1404, 1404, 1404, 1404, 1404, 1404,
        1404, 1073, 1073, 1073, 1073, 1073, 1073, 1073, 1406, 1406, 1406,
        1406, 1406, 1406, 1075, 1075, 1075, 1075, 1075, 1075, 1075, 1408,
        1408, 1408, 1408, 1408, 1408, 1408, 1408, 1077, 1077, 1077, 1077,
        1077, 1077, 1077, 1410, 1410, 1410, 1410, 1410, 1410, 1079, 1079,
        1079, 1079, 1079, 1079, 1079, 1412, 1412, 1412, 1412, 1412, 1412,
        1412, 1412, 1081, 1081, 1081, 1081, 1081, 1081, 1081, 1414, 1414,
        1414, 1414, 1414, 1414, 1416, 1416, 1416, 1416, 1416, 1416, 1416,
        1416, 1418, 1418, 1418, 1418, 1418, 1418, 1420, 1420, 1420, 1420,
        1420, 1420, 1420, 1420, 1422, 1422, 1422, 1422, 1422, 1422, 1422,
        1422,  362,  362,  362,  362,  362,  362, 1095, 1095, 1095, 1095,
        1095, 1095, 1095, 1424, 1424, 1424, 1424, 1424, 1424, 1424, 1424,
        1097, 1097, 1097, 1097, 1097, 1097, 1097, 1099, 1099, 1099, 1099,
        1099, 1099, 1099, 1426, 1426, 1426, 1426, 1426, 1426, 1426, 1426,
         364,  364,  364,  364,  364,  371,  371,  371,  371,  371,  371,
        1101, 1101, 1101, 1101, 1101, 1101, 1101, 1103, 1103, 1103, 1103,
        1103, 1103, 1103,  372,  372,  372,  372,  372, 1105, 1105, 1105,
        1105, 1105, 1105, 1105,  373,  373,  373,  373,  373,  373,  373,
        1093, 1093, 1093, 1093, 1093, 1093, 1089, 1089, 1089, 1089, 1089,
        1089,  382,  382,  382,  382,  382,  382,  382, 1432, 1432, 1432,
        1432, 1432, 1432, 1432, 1432, 1436, 1436, 1436, 1436, 1436, 1436,
        1436, 1436, 1438, 1438, 1438, 1438, 1438, 1438, 1438, 1438, 1442,
        1442, 1442, 1442, 1442, 1442, 1442, 1442, 1444, 1444, 1444, 1444,
        1444, 1444, 1452, 1452, 1452, 1452, 1452, 1452, 1452, 1452, 1452,
        1452, 1452, 1453, 1453, 1453, 1453, 1453, 1453]),
 array([5354, 5355, 5356, 5357, 5358, 5359, 5367, 5368, 5369, 5370, 5371,
        5372, 5373, 5381, 5382, 5383, 5384, 5385, 5386, 5387, 5395, 5396,
        5397, 5398, 5399, 5400, 5401, 7895, 7896, 7897, 7898, 7899, 7900,
        5409, 5410, 5411, 5412, 5413, 5414, 5415, 5451, 5452, 5453, 5454,
        5455, 5456, 5457, 7909, 7910, 7911, 7912, 7913, 7914, 7916, 7915,
        7925, 7926, 7927, 7928, 7929, 7930, 7931, 7932, 5465, 5466, 5467,
        5468, 5469, 5470, 5471, 5479, 5480, 5481, 5482, 5483, 5484, 5485,
        7948, 7941, 7942, 7943, 7944, 7945, 7946, 7947, 7957, 7958, 7959,
        7960, 7961, 7962, 7963, 7964, 5493, 5494, 5495, 5496, 5497, 5498,
        5499, 7973, 7974, 7975, 7980, 7976, 7977, 7978, 7979, 7989, 7990,
        7991, 7992, 7993, 7996, 7994, 7995, 8005, 8006, 8008, 8007, 8009,
        8010, 8011, 8012, 5507, 5508, 5509, 5510, 5511, 5512, 5513, 8021,
        8022, 8023, 8024, 8026, 8025, 8027, 8028, 8044, 8037, 8038, 8039,
        8040, 8041, 8043, 8042, 5543, 5544, 5545, 5546, 5547, 5548, 5549,
        5557, 5558, 5559, 5560, 5561, 5562, 5563, 5571, 5572, 5573, 5574,
        5575, 5576, 5577, 5585, 5586, 5587, 5588, 5589, 5590, 5591, 8051,
        8052, 8053, 8054, 8056, 8055, 5599, 5600, 5601, 5602, 5603, 5604,
        5605, 8063, 8064, 8065, 8066, 8067, 8068, 5613, 5614, 5615, 5616,
        5617, 5618, 5619, 8145, 8146, 8147, 8148, 8149, 8150, 8151, 8152,
        5627, 5628, 5629, 5630, 5631, 5632, 5633, 8153, 8154, 8155, 8156,
        8157, 8158, 8159, 8160, 8161, 8162, 8163, 8164, 8165, 8166, 8167,
        8168, 5682, 5683, 5684, 5685, 5686, 5687, 5688, 5696, 5697, 5698,
        5699, 5700, 5701, 5702, 8169, 8170, 8171, 8172, 8173, 8174, 8176,
        8175, 5710, 5711, 5712, 5713, 5714, 5715, 5716, 8177, 8179, 8178,
        8180, 8182, 8181, 8183, 8184, 5724, 5725, 5726, 5727, 5728, 5729,
        5730, 5738, 5739, 5740, 5741, 5742, 5743, 5744, 8185, 8186, 8187,
        8188, 8189, 8190, 5752, 5753, 5754, 5755, 5756, 5757, 5758, 8191,
        8192, 8193, 8194, 8195, 8196, 8197, 8198, 8199, 8200, 8201, 8202,
        8203, 8204, 5793, 5794, 5795, 5796, 5797, 5798, 5799, 5807, 5808,
        5809, 5810, 5811, 5812, 5813, 8205, 8206, 8207, 8208, 8209, 8210,
        8211, 8212, 5821, 5822, 5823, 5824, 5825, 5826, 5827, 8220, 8219,
        8218, 8217, 8216, 8215, 8213, 8214, 5835, 5836, 5837, 5838, 5839,
        5840, 5841, 5849, 5850, 5851, 5852, 5853, 5854, 5855, 8229, 8230,
        8231, 8232, 8233, 8234, 8235, 8236, 8245, 8246, 8247, 8248, 8249,
        8250, 8251, 8252, 5890, 5891, 5892, 5893, 5894, 5895, 5896, 5904,
        5905, 5906, 5907, 5908, 5909, 5910, 5918, 5919, 5920, 5921, 5922,
        5923, 5924, 5932, 5933, 5934, 5935, 5936, 5937, 5938, 5946, 5947,
        5948, 5949, 5950, 5951, 5952, 5953, 5954, 5955, 5956, 5957, 5958,
        5959, 5960, 5961, 5962, 5963, 5964, 5965, 5966, 5967, 5968, 5969,
        5970, 5971, 5972, 8343, 8344, 8346, 8345, 8348, 8347, 8405, 8406,
        8407, 8408, 8409, 8410, 8411, 8412, 8421, 8422, 8423, 8424, 8425,
        8426, 8427, 8428, 8453, 8454, 8455, 8456, 8457, 8458, 8459, 8460,
        8469, 8470, 8471, 8472, 8473, 8474, 8475, 8476, 5973, 5974, 5975,
        5976, 5977, 5978, 5979, 8485, 8486, 8487, 8488, 8489, 8490, 8491,
        8492, 5987, 5988, 5989, 5990, 5991, 5992, 5993, 8499, 8500, 8501,
        8502, 8503, 8504, 6001, 6002, 6003, 6004, 6005, 6006, 6007, 8513,
        8514, 8515, 8516, 8517, 8518, 8519, 8520, 6015, 6016, 6017, 6018,
        6019, 6020, 6021, 8527, 8528, 8529, 8530, 8531, 8532, 6029, 6030,
        6031, 6032, 6033, 6034, 6035, 8541, 8542, 8543, 8544, 8545, 8546,
        8547, 8548, 6042, 6043, 6044, 6045, 6046, 6047, 6048, 8555, 8559,
        8560, 8558, 8557, 8556, 8569, 8571, 8570, 8572, 8573, 8576, 8574,
        8575, 8583, 8584, 8585, 8586, 8587, 8588, 8604, 8597, 8598, 8599,
        8600, 8601, 8602, 8603, 8613, 8614, 8615, 8616, 8617, 8618, 8619,
        8620, 1873, 1874, 1875, 1876, 1877, 1878, 6127, 6128, 6129, 6130,
        6131, 6132, 6133, 8629, 8630, 8631, 8632, 8633, 8634, 8635, 8636,
        6141, 6142, 6143, 6144, 6145, 6146, 6147, 6155, 6156, 6157, 6158,
        6159, 6160, 6161, 8645, 8646, 8647, 8648, 8649, 8650, 8651, 8652,
        1884, 1885, 1886, 1887, 1888, 1916, 1917, 1918, 1919, 1920, 1921,
        6169, 6170, 6171, 6172, 6173, 6174, 6175, 6183, 6184, 6185, 6186,
        6187, 6188, 6189, 1922, 1923, 1924, 1925, 1926, 6197, 6198, 6199,
        6200, 6201, 6202, 6203, 1927, 1928, 1929, 1930, 1931, 1932, 1933,
        6115, 6116, 6117, 6118, 6119, 6120, 6092, 6093, 6094, 6095, 6096,
        6097, 1973, 1974, 1975, 1976, 1977, 1978, 1979, 8693, 8694, 8695,
        8696, 8697, 8698, 8699, 8700, 8725, 8732, 8726, 8727, 8728, 8729,
        8730, 8731, 8741, 8742, 8743, 8744, 8745, 8746, 8747, 8748, 8772,
        8773, 8774, 8775, 8776, 8777, 8778, 8779, 8786, 8787, 8788, 8789,
        8790, 8791, 8846, 8847, 8848, 8849, 8850, 8851, 8852, 8853, 8854,
        8855, 8856, 8857, 8858, 8859, 8860, 8861, 8862]),
 array([618, 619, 619, 619, 619, 619, 620, 620, 620, 620, 620, 620, 620,
        621, 622, 622, 622, 622, 621, 622, 623, 623, 623, 623, 623, 623,
        623, 396, 113, 115, 116, 115, 114, 624, 624, 624, 624, 624, 624,
        624, 527, 528, 528, 527, 528, 528, 528, 112, 112, 114, 112, 114,
        112, 112, 112, 400, 116, 114, 114, 400, 112, 114, 112, 529, 530,
        530, 529, 530, 530, 529, 531, 531, 531, 531, 531, 531, 531, 401,
        414, 121, 404, 120, 403, 404, 401, 121, 120, 404, 120, 414, 121,
        402, 119, 532, 533, 533, 533, 533, 533, 533, 402, 401, 121, 121,
        412, 410, 402, 407, 121, 403, 406, 406, 405, 406, 410, 405, 408,
        411, 411, 408, 411, 407, 413, 413, 535, 534, 535, 535, 535, 534,
        535, 410, 412, 413, 413, 408, 413, 411, 411, 414, 408, 413, 409,
        410, 407, 414, 414, 536, 536, 536, 536, 536, 536, 536, 538, 538,
        538, 538, 538, 538, 538, 537, 537, 537, 537, 537, 537, 537, 539,
        539, 539, 539, 539, 539, 539, 415, 419, 419, 418, 417, 417, 540,
        540, 540, 540, 540, 540, 540, 419, 419, 419, 418, 422, 417, 541,
        541, 541, 541, 541, 541, 541, 417, 420, 417, 421, 417, 415, 417,
        422, 876, 542, 876, 876, 876, 542, 876, 421, 422, 421, 422, 415,
        422, 271, 271, 423, 423, 423, 423, 423, 423, 693, 423, 544, 544,
        544, 543, 543, 543, 543, 547, 547, 547, 547, 547, 547, 547, 424,
        424, 424, 424, 424, 424, 424, 424, 548, 548, 548, 548, 548, 548,
        548, 446, 425, 425, 425, 425, 425, 446, 425, 549, 549, 549, 549,
        549, 549,  37, 550, 550, 550, 550, 550, 550, 550, 436, 419, 443,
        436, 436, 438,  38,  38,  38, 551,  38,  38,  38, 444, 436, 436,
        436, 438, 436, 438, 437, 438, 436, 436, 439, 436, 438, 881, 881,
        552, 881, 881, 881, 881, 553, 553, 553, 553, 553, 553, 553, 438,
        438, 437, 438, 436, 436, 436, 284, 554, 554, 554, 554, 554, 554,
        554, 435, 442, 440, 440, 439, 440, 436, 436,  39,  39,  40,  40,
         40,  39,  39, 882, 882, 882, 882, 882, 882, 882, 444, 444, 285,
        286, 437, 287, 286, 444, 445, 445, 445, 445, 445, 445, 445, 445,
         27,  27,  27,  27,  27,  27,  27,  29,  29, 555, 555, 556, 555,
        555, 558, 558, 558, 557, 557, 558, 558, 559, 559, 560, 559, 560,
        559, 559,  27,  27,  27,  27,  28,  29,  29, 555, 555, 555, 555,
        556, 556, 558, 558, 558, 558, 558, 559, 559, 559, 559, 559, 560,
        559, 560, 560, 455, 457, 457, 458, 455, 455, 461, 780, 461, 461,
        461, 461, 780, 292, 460, 460, 460, 460, 462, 462, 460, 292, 463,
        464, 292, 464, 292, 292, 464, 464, 297, 297, 239, 239, 239, 241,
        297, 239, 911, 911, 911, 911, 911, 911, 911, 243, 243, 243, 243,
        243, 243,  32, 243, 594, 594, 594, 594, 594, 594, 594, 293, 299,
        299, 299, 299, 299, 595, 595, 595, 595, 595, 595, 595, 299, 299,
        293, 299, 299, 299, 293, 298, 596, 596, 596, 596, 596, 596, 596,
         64,  64,  64,  64,  63,  63, 602, 602, 602, 602, 602, 602, 602,
        877,  64,  64, 877,  64,  63,  64, 877, 603, 603, 603, 603, 603,
        603, 603,  65,  65,  65,  65,  65,  65,  65, 818,  65,  65,  65,
         65,  65,  65, 593, 593, 593, 593, 593, 593, 818, 593, 818, 818,
        818, 818, 818, 818, 608, 608,  66,  65, 616, 616, 616,  67, 754,
        754, 754, 754, 754, 754, 604, 604, 604, 604, 604, 604, 604, 610,
        609, 610, 616, 614, 614, 614, 614, 605, 605, 605, 605, 605, 605,
        605, 607, 607, 607, 607, 607, 607, 607, 615, 615, 615, 615, 615,
        617, 617, 615, 756, 756, 756, 756, 756, 757, 757, 757, 757, 757,
        757, 612, 612, 612, 612, 612, 612, 612, 613, 613, 613, 613, 613,
        613, 613, 759, 759, 759, 759, 759, 661, 661, 661, 661, 661, 661,
        661, 758, 758, 738, 738, 758, 738, 738, 604, 604, 604, 604, 604,
        604, 605, 605, 605, 605, 605, 605, 739, 739, 739, 739, 740, 740,
        740,  84,  84,  84, 763,  84,  84,  84,  84, 272, 272, 272, 763,
        763, 272,  85, 272,  86,  89,  89,  89,  86,  86,  86,  86, 880,
        880, 880, 880, 880,  34,  34,  34,  89,  89,  89,  89,  89,  87,
        766, 766, 766, 766, 766, 766, 766, 766, 766, 766, 766, 280, 280,
        281, 281, 281, 281]),
 array([1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1,
        0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0,
        0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1,
        0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1,
        1, 0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 0, 1, 0, 1,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1,
        1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1,
        1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 0,
        0, 1, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0,
        0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0,
        0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 0, 0,
        0, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1,
        0, 1, 1, 0, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 0, 0, 0, 1,
        1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0,
        0, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1,
        1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 0,
        0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1,
        1, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 0,
        0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 0,
        1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1,
        1, 1, 1, 0, 0, 1, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0,
        1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1,
        0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1,
        0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 0,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
        1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1,
        1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
        0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0]))

In [36]:
len(group[0])

4

### split_data
- user와 시간순으로 정렬되어있긴 하지만, 임의로 비율로 자르면 data leakage가 아주 소수 있지 않을까 ? (한 user 정도)
- 아니다 .. user별로 group_by 했으므로 user가 겹칠일은 없으니 그냥 만들면 될 듯 하다! 편해졌네

In [75]:
ratio = 0.7

size = int(len(group)  * ratio)
data_1 = group[:size]
data_2 = group[size:]

In [76]:
data_1

userID
0       ([975, 975, 975, 975, 975, 975, 977, 977, 977,...
1       ([596, 596, 596, 596, 596, 598, 598, 598, 598,...
2       ([435, 435, 435, 435, 435, 386, 386, 386, 386,...
5       ([1325, 1325, 1325, 1325, 1325, 1325, 1327, 13...
6       ([401, 401, 401, 401, 401, 401, 402, 402, 402,...
                              ...
5194    ([8, 8, 8, 8, 8, 6, 6, 6, 6, 6, 19, 19, 19, 19...
5197    ([216, 216, 216, 216, 216, 216, 216, 256, 256,...
5198    ([1477, 1477, 1477, 1477, 1477, 1477, 1477, 14...
5199    ([682, 682, 682, 682, 682, 682, 684, 684, 684,...
5200    ([1471, 1471, 1471, 1471, 1471, 1471, 1471, 14...
Length: 4688, dtype: object

In [77]:
data_2

userID
5202    ([803, 803, 803, 803, 803, 803, 803, 809, 809,...
5203    ([194, 194, 194, 194, 232, 232, 232, 232, 232,...
5204    ([1055, 1055, 1055, 1055, 1055, 1055, 1055, 10...
5205    ([985, 985, 985, 985, 985, 988, 988, 988, 988,...
5206    ([1224, 1224, 1224, 1224, 1224, 1224, 1232, 12...
                              ...
7436    ([876, 876, 876, 876, 394, 394, 394, 394, 394,...
7437    ([655, 655, 655, 655, 655, 655, 1038, 1038, 10...
7438    ([1326, 1326, 1326, 1326, 1326, 1326, 774, 774...
7440    ([877, 877, 877, 877, 877, 521, 521, 521, 521,...
7441    ([456, 456, 456, 456, 456, 748, 748, 748, 748]...
Length: 2010, dtype: object

# class DKTDataset
- Preprocess에서 처리한 데이터를 train/val으로 split 한 데이터를 input으로 받는다

In [39]:
# group : testid, assessmentitemid, knowledgetag, answercode
row = group[0]
seq_len = len(row[0])
seq_len

745

In [40]:
test, question, tag, correct = row[0], row[1], row[2], row[3]
cate_cols = [test, question, tag, correct]

In [79]:
len(test), len(question), len(tag), len(correct)

(745, 745, 745, 745)

In [41]:
max_seq_len=300

# max seq len을 고려하여서 이보다 길면 자르고 아닐 경우 그대로 냅둔다
if seq_len > max_seq_len:
    for i, col in enumerate(cate_cols):
        cate_cols[i] = col[-max_seq_len:]
    mask = np.ones(max_seq_len, dtype=np.int16)
else:
    mask = np.zeros(max_seq_len, dtype=np.int16)
    mask[-seq_len:] = 1

In [42]:
mask

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1], dtype=int16)

In [44]:
cate_cols.append(mask)  # mask도 추가, 여기서는 max_seq_len 안넘어서 mask 값인 0 추가 안됨

# dataloader

In [56]:
import sys
sys.path.append("/opt/ml/my_code")
from args import parse_args

In [59]:
class Cfg:
    seed = 42
    device = "cpu"
    data_dir = "/opt/ml/input/data/train_dataset"
    asset_dir = "asset/"
    file_name = "train_data.csv"
    model_dir = "models/"
    output_dir = "output/"
    max_seq_len = 20
    num_workers=1
    hidden_dim = 64
    n_layers = 2
    n_heads = 2
    drop_out = 0.2
    n_epochs = 20
    batch_size = 64
    lr = 1e-4
    clip_grad = 10
    patience = 5
    log_steps = 50
    model = 'lstm'
    optimizer = 'adam'
    scheduler = 'plateau'

In [60]:
args = Cfg()

In [62]:
from dkt.dataloader import Preprocess

In [64]:
preprocess = Preprocess(args)
preprocess.load_train_data(args.file_name)
train_data = preprocess.get_train_data()
train_data, valid_data = preprocess.split_data(train_data)

In [66]:
sys.path.append("/opt/ml/my_code/dkt")
from dataloader import get_loaders

train_loader, valid_loader = get_loaders(args, train_data, valid_data)

In [70]:
next(iter(train_loader))

(tensor([[ 241.,  241.,  241.,  ...,  350.,  350.,  350.],
         [ 738.,  738.,  738.,  ..., 1457., 1457., 1457.],
         [ 506.,  506.,  506.,  ...,  508.,  508.,  508.],
         ...,
         [ 972.,  972.,  972.,  ...,  913.,  913.,  913.],
         [ 707.,  707.,  709.,  ..., 1437., 1437., 1437.],
         [1137., 1137., 1137.,  ..., 1139., 1139., 1139.]]),
 tensor([[1226., 1227., 1228.,  ..., 1813., 1814., 1815.],
         [3855., 3856., 3857.,  ..., 8896., 8897., 8898.],
         [2636., 2637., 2638.,  ..., 2648., 2649., 2650.],
         ...,
         [5341., 5342., 5343.,  ..., 4955., 4956., 4957.],
         [3701., 3702., 3708.,  ..., 8738., 8739., 8740.],
         [6421., 6422., 6423.,  ..., 6435., 6436., 6437.]]),
 tensor([[711., 711., 711.,  ..., 752., 752., 752.],
         [220., 220., 220.,  ..., 770., 770., 770.],
         [494., 494., 494.,  ..., 498., 498., 498.],
         ...,
         [ 24.,  21.,  24.,  ..., 364., 364., 486.],
         [213., 213., 214.,  ...,  86.,  86.,  87.],
         [136., 136., 135.,  ..., 137., 137., 137.]]),
 tensor([[1., 1., 0.,  ..., 1., 1., 0.],
         [0., 1., 0.,  ..., 0., 1., 0.],
         [1., 1., 0.,  ..., 0., 0., 1.],
         ...,
         [1., 1., 1.,  ..., 0., 0., 0.],
         [0., 1., 1.,  ..., 0., 0., 1.],
         [1., 1., 1.,  ..., 1., 1., 1.]]),
 tensor([[1., 1., 1.,  ..., 1., 1., 1.],
         [1., 1., 1.,  ..., 1., 1., 1.],
         [1., 1., 1.,  ..., 1., 1., 1.],
         ...,
         [1., 1., 1.,  ..., 1., 1., 1.],
         [1., 1., 1.,  ..., 1., 1., 1.],
         [1., 1., 1.,  ..., 1., 1., 1.]]))

In [71]:
next(iter(train_loader))[0].shape  # [batch_size, max_len_seq]

torch.Size([64, 20])